build_file: "gax-go/kokoro/kokoro_build.sh"

# Store the released packages in placer for
# generating attestations.
action {
 define_artifacts {
   regex: "github/*/pkg/**.zip"
   regex: "github/*/pkg/**/*.mod"
   strip_prefix: "github"
 }
}
